body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg-main) no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: var(--text-main);
}