:root {
  /* body */
  --color-bg-body: #fff;
  --image-bg-body: url();
  --font-family-body: Arial, sans-serif;

  /* Floating Menu */
  --color-bg-floating-menu-btn: rgba(255,255,255,0.25);
  --color-bg-floating-menu-btn-hover: rgba(255,255,255,0.6);
  --color-text-floating-menu-btn: white;

  /* Grid Overlay */
  --color-to-right-grid-overlay: rgba(255,255,255,0.5);
  --color-to-bottom-grid-overlay: rgba(255,255,255,0.5);

  /* Bookmarks */
  --color-bg-bookmark: #000;
  --color-text-bookmark: #fff;

  /* Modals */
  --color-bg-modal: #000;

  --radius-sm: 5px;
  --radius-md: 10px;

  /* z-index */
  --z-grid: 1;
  --z-bookmark: 2;
  --z-floating-menu: 3;
  --z-modal: 1000;
  --z-flash: 9999;
}