/* Estilos de cada bookmark */
.bookmark {
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--w);
  height: var(--h);
  padding: 5px;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  background-color: var(--bookmark-bg, #222);
  border-radius: var(--radius-md);
  z-index: var(--z-bookmark);
}

/* fondo por imagen */
.bookmark.has-bg-image {
  background-color: transparent;
  background-image: var(--bookmark-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* cuando el favicon es el fondo */
.bookmark.is-favicon-bg {
  background-image: none;
}

/* inversión */
.bookmark.has-bg-image.invert-bg-image {
  background-image: var(--bookmark-bg-image);
  filter: none; /* no invertimos todo el div */
}

.bookmark.has-bg-image.invert-bg-image::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--bookmark-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
  z-index: 0; /* detrás del contenido */
  border-radius: inherit;
}

.bookmark.has-bg-image > * {
  position: relative; /* para que el contenido esté encima del pseudo-elemento */
  z-index: 1;
}
