.bookmark-link {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.bookmark.is-editing,
.bookmark-link.is-editing {
  cursor: move;
}

.bookmark-favicon {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.bookmark-info {
  position: absolute;
  bottom: 6px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.bookmark-info img {
  width: 16px;
  height: 16px;
}

.bookmark span {
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}